body{
  background-color: #343a40;
}


.groub input {
  background-color: transparent ;
  border: none;
  border-bottom: 1px solid #fff;
  border-radius: 0%;
  text-align: center;
  font-size: 20px;
  letter-spacing: 2px;
  color: #fff;
}

.groub input::placeholder{
  
  color: #fff;
}

.groub input:focus{
  background-color: transparent ;
  box-shadow: none;
  color: #fff;
}



.movie-item {
  position: relative;
  overflow: hidden;
  cursor: pointer;

}


.movie-item .overlay {
  text-align : center;
  background-color: rgba(255, 255, 255, 0.489);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
   transform: scale(0); 
  transition: transform .5s ease-in-out;
}

 .movie-item:hover .overlay{
  transform: scale(1);
} 








/* //////////////////////////*/

.vedioCont{
  background-color: rgba(0, 0, 0, 0.489);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  justify-content: center;
  align-items: center;

}

.vedioBox{
  background-color: #fff;
  width: 80%;
  height: 80%;
}





/* /////////// side menu*/

#sideMenu {
  width: 18%;
  position: fixed;
  top: 0;
  left: -184.406px;
  z-index: 5555;
  height: 100vh;
 
  display: flex;
  overflow: hidden;
 
}

.leftSide{
  background-color: #343a40;
  width: 75%;
  height: 100%;
  padding: 30px 0;
  color: #fff;

}

.leftSide ul {
  /* margin-top: 500px; */
  height: 70%;
  overflow: hidden;
  
}

.leftSide ul li {
  padding: 0 20px;
  padding-top: 500px;
  cursor: pointer;
  font-weight: 500;
  font-size: 20px;
}


.rightSide{
  background-color: #fff;
  width: 25%;
  height: 100%;
  text-align: center;
  position: relative;
  
}

.rightSide img{
  width: 80%;
  padding: 5px;
}


.icon{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 30px;
  cursor: pointer;

}